/* benefits area */
  .benefits-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    
  }
  .benefits-title {
    grid-column: span 1;
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
  }
  
  .benefits {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
    margin:auto;
    padding: auto;
  }
  
  /* benefit item */
  
  .benefit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

  }
  
  .benefit-img {
    margin: 15px;
    width: 100px;
  }
  
  .benefit-title {
    font-size: 1.25rem;
    line-height: 25px;
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }